$primary-color: green;
$secondary-color: #595959;
$font-stack: sans-serif;

.registration-container {
  background-color: $primary-color;
  border-radius: 5px;
  margin-top: 20px;
  font-family: sans-serif;
}

.registration-form {
  padding: 20px;
}

.button-main {
  background-color: $secondary-color;
  border: 0;
}

.button-main:hover {
  background-color: #8c8c8c;
}
